api:
  dashboard: true
  insecure: false

log:
  level: INFO

accessLog: {}

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: traefik-proxy
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: admin@previewcloud.cloud
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web

